In [19]:
import pandas as pd
import numpy as np

In [20]:
path="C:/Users/VenkatBhaskar/Downloads/New_Assignemnt_Files/DT_coding_sample_training.csv"
df=pd.read_csv(path,delimiter=',',header=0)
df

  source whiteListedIP packetSize appType malicious
0   Asia           Yes      Small    HTTP       Yes
1   Asia           Yes      Large     FTP       Yes
2   Asia            No      Small    HTTP        No
3   Asia           Yes      Small    HTTP       Yes
4   Asia            No     Medium    HTTP        No
5   Asia            No     Medium    HTTP       Yes
6     US           Yes      Large     FTP        No
7     US            No     Medium    HTTP        No
8     US            No     Medium    HTTP        No

In [21]:
y=df['malicious']
y

0    Yes
1    Yes
2     No
3    Yes
4     No
5    Yes
6     No
7     No
8     No
Name: malicious, dtype: object

In [22]:
df['malicious']

0    Yes
1    Yes
2     No
3    Yes
4     No
5    Yes
6     No
7     No
8     No
Name: malicious, dtype: object

In [23]:
df[df['malicious']=='Yes']

  source whiteListedIP packetSize appType malicious
0   Asia           Yes      Small    HTTP       Yes
1   Asia           Yes      Large     FTP       Yes
3   Asia           Yes      Small    HTTP       Yes
5   Asia            No     Medium    HTTP       Yes

In [24]:
def count(data,colname,label,target):
    condition = (data[colname] == label) & (df['malicious'] == target)
    return len(data[condition])

In [25]:
cYes=count(df,'malicious','Yes','Yes')
cNo=count(df,'malicious','No','No')
prob_Yes=cYes/len(df)
prob_No=cNo/len(df)

In [76]:
print(prob_Yes)
print(prob_No)

0.4444444444444444
0.5555555555555556

In [27]:
p={0:{},1:{}}

In [28]:
df

  source whiteListedIP packetSize appType malicious
0   Asia           Yes      Small    HTTP       Yes
1   Asia           Yes      Large     FTP       Yes
2   Asia            No      Small    HTTP        No
3   Asia           Yes      Small    HTTP       Yes
4   Asia            No     Medium    HTTP        No
5   Asia            No     Medium    HTTP       Yes
6     US           Yes      Large     FTP        No
7     US            No     Medium    HTTP        No
8     US            No     Medium    HTTP        No

In [ ]:
300

In [29]:
y1=y.tolist()
y1

['Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'No', 'No']

In [32]:
#df=df.drop(columns=['malicious'])
df

  source whiteListedIP packetSize appType malicious
0   Asia           Yes      Small    HTTP       Yes
1   Asia           Yes      Large     FTP       Yes
2   Asia            No      Small    HTTP        No
3   Asia           Yes      Small    HTTP       Yes
4   Asia            No     Medium    HTTP        No
5   Asia            No     Medium    HTTP       Yes
6     US           Yes      Large     FTP        No
7     US            No     Medium    HTTP        No
8     US            No     Medium    HTTP        No

In [44]:
df_Yes=df[df['malicious']=='Yes']
df_Yes

  source whiteListedIP packetSize appType malicious
0   Asia           Yes      Small    HTTP       Yes
1   Asia           Yes      Large     FTP       Yes
3   Asia           Yes      Small    HTTP       Yes
5   Asia            No     Medium    HTTP       Yes

In [106]:
df1=df[df['source']=='Asia']

In [107]:
df1

  source whiteListedIP packetSize appType malicious
0   Asia           Yes      Small    HTTP       Yes
1   Asia           Yes      Large     FTP       Yes
2   Asia            No      Small    HTTP        No
3   Asia           Yes      Small    HTTP       Yes
4   Asia            No     Medium    HTTP        No
5   Asia            No     Medium    HTTP       Yes

In [46]:
from collections import Counter
from collections import defaultdict
c=defaultdict(int)
for i in df_Yes.iloc[:,:-1].columns:
    for j in df_Yes[i]:
        c[j]+=1
c

defaultdict(int,
            {'Asia': 4,
             'Yes': 3,
             'No': 1,
             'Small': 2,
             'Large': 1,
             'Medium': 1,
             'HTTP': 3,
             'FTP': 1})

In [115]:
a=len(df_Yes[df_Yes['source']=='Asia'])/len(df)
a

0.4444444444444444

In [118]:
b=len(df_Yes[df_Yes['whiteListedIP']=='No'])/len(df)
b

0.1111111111111111

In [121]:
len(df_Yes)/len(df)

0.4444444444444444

In [119]:
c=len(df_Yes[df_Yes['appType']=='HTTP'])/len(df)
c

0.3333333333333333

In [124]:
len(df[df['source']=='Asia'])/len(df)

0.6666666666666666

In [126]:
len(df[df['whiteListedIP']=='No'])/len(df)

0.5555555555555556

In [127]:
len(df[df['appType']=='HTTP'])/len(df)

0.7777777777777778

In [83]:
prob_yes={}
for k,v in c.items():
    prob_yes[k]=np.round(v/len(df),4)
prob_yes

{'Asia': 0.4444,
 'Yes': 0.3333,
 'No': 0.1111,
 'Small': 0.2222,
 'Large': 0.1111,
 'Medium': 0.1111,
 'HTTP': 0.3333,
 'FTP': 0.1111}

In [109]:
1/9

0.1111111111111111

In [73]:
df_No=df[df['malicious']=='No']
d=defaultdict(int)
for i in df_No.iloc[:,:-1].columns:
    for j in df_No[i]:
        d[j]+=1
d

defaultdict(int,
            {'Asia': 2,
             'US': 3,
             'No': 4,
             'Yes': 1,
             'Small': 1,
             'Medium': 3,
             'Large': 1,
             'HTTP': 4,
             'FTP': 1})

In [91]:
prob_no={}
p_no=1.0
a=[]
for k,v in d.items():
    prob_no[k]=np.round(v/len(df),4)
print(prob_no)
for i in prob_no.values():
    a.append(i)

{'Asia': 0.2222, 'US': 0.3333, 'No': 0.4444, 'Yes': 0.1111, 'Small': 0.1111, 'Medium': 0.3333, 'Large': 0.1111, 'HTTP': 0.4444, 'FTP': 0.1111}

[0.2222, 0.3333, 0.4444, 0.1111, 0.1111, 0.3333, 0.1111, 0.4444, 0.1111]

In [105]:
c=np.round(np.prod(a),6)
c

1e-06

In [77]:
df1=df.iloc[:,:-1]
df1

  source whiteListedIP packetSize appType
0   Asia           Yes      Small    HTTP
1   Asia           Yes      Large     FTP
2   Asia            No      Small    HTTP
3   Asia           Yes      Small    HTTP
4   Asia            No     Medium    HTTP
5   Asia            No     Medium    HTTP
6     US           Yes      Large     FTP
7     US            No     Medium    HTTP
8     US            No     Medium    HTTP

In [110]:
df1[df1['Asia']]

  source whiteListedIP packetSize appType malicious
0   Asia           Yes      Small    HTTP       Yes
1   Asia           Yes      Large     FTP       Yes
2   Asia            No      Small    HTTP        No
3   Asia           Yes      Small    HTTP       Yes
4   Asia            No     Medium    HTTP        No
5   Asia            No     Medium    HTTP       Yes

In [135]:
p={}
for i in df.columns:
    p[i]=list(df[i].unique())
p

{'source': ['Asia', 'US'],
 'whiteListedIP': ['Yes', 'No'],
 'packetSize': ['Small', 'Large', 'Medium'],
 'appType': ['HTTP', 'FTP'],
 'malicious': ['Yes', 'No']}

In [140]:
c={}
for i in df.columns:
    c[i]=dict(df[i].value_counts())
c

{'source': {'Asia': 6, 'US': 3},
 'whiteListedIP': {'No': 5, 'Yes': 4},
 'packetSize': {'Medium': 4, 'Small': 3, 'Large': 2},
 'appType': {'HTTP': 7, 'FTP': 2},
 'malicious': {'No': 5, 'Yes': 4}}

In [145]:
t={}
for i in df.columns:
    t[i]=list(df[i].value_counts())
t

{'source': [6, 3],
 'whiteListedIP': [5, 4],
 'packetSize': [4, 3, 2],
 'appType': [7, 2],
 'malicious': [5, 4]}

In [158]:
import math
z={}
for i in t:
    c=[]
    for j in t[i]:
        c.append(j/9)
    z[i]=c
z

{'source': [0.6666666666666666, 0.3333333333333333],
 'whiteListedIP': [0.5555555555555556, 0.4444444444444444],
 'packetSize': [0.4444444444444444, 0.3333333333333333, 0.2222222222222222],
 'appType': [0.7777777777777778, 0.2222222222222222],
 'malicious': [0.5555555555555556, 0.4444444444444444]}

In [176]:
en=[]
for i in z.values():
    etr=0
    for j in i:
        etr+=j*math.log(j,2)
    en.append(etr)
en

[-0.9182958340544896,
 -0.9910760598382222,
 -1.5304930567574824,
 -0.7642045065086203,
 -0.9910760598382222]

In [186]:
a=df.columns
d={}
for i in range(len(a)):
    d[a[i]]=en[i]
d

{'source': -0.9182958340544896,
 'whiteListedIP': -0.9910760598382222,
 'packetSize': -1.5304930567574824,
 'appType': -0.7642045065086203,
 'malicious': -0.9910760598382222}

In [184]:
a

0.4444444444444444